body {
  background-color: whitesmoke;
  
}
.Container {
  padding: 30px 0px;
  display: flex;
  justify-content: space-around;
}
.bulat {
  display: flex;
  justify-content: center;
}
.Avatar {
  margin-right: 20px;
}
.my {
  margin-top: 100px;
  text-align: center;
}
.card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}